body {
    font-family: times new roman;
    background:#efefef url(https://github.com/guruh3194/imad-2016-app/blob/master/batman.jpg?raw=true)fixed center center;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
a
{
    color : white;
    font-size: 200%;
    font-weight: bold;


    
}
div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
